.login_body{
    background-image: url('login_background.jpeg');
    width: 100%;
}

.signup_signin_common{
    width: 100%;
    margin: 186px 0px;
}

.signup_signin_common h2{
    color: #000;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
}

.form_field_row{
    width: 30%;
    margin: 0 auto;
    border: 2px solid;
    border-color: #B8860B;
    background-color: #FFF8DC;
    box-shadow: 0px 2px 5px 5px #000;
    border-radius: 10px;
}

.field span {
    color: #000;
    font-size: 25px;
}

.field{
    width: 100%;
    box-sizing: content-box;
    margin-top: 10px;
    padding: 10px;
}

.label_field{
    font-size: 25px;
    margin:0 auto;
    color: #000;
}

.form_field{
    width: 100%;
    text-align: center;
}

.form_field_common{
    width: 90%;
    height: 40px;
    font-size: 20px;
    line-height: 25px;
    display: inline-block;   
}

.form_field_common.sign_up_text{
    height: 100px;
}

.remember_me{
    color: #000;
}

.sign_up_in_common_btn{
    text-align: center;
    margin-top: 20px;
}

.sign_up_in_common_btn_field{
    font-size: 40px;
    background-color: #D2691E;
    border: 2px solid;
    border-color: #D2691E;
    border-radius: 15px;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    box-shadow: 3px 7px 2px 2px #996d0f;
}

.another_pass_field{
    margin-top: 20px;
    width: 100%;
}

.another_pass_btn{
    margin-top: 0;
    text-decoration: none;
    width: 30%;
    height: 23px;
    color: #000000;
    font-size: 17px;
    font-weight: bold;
    display: block;
    margin: 0 auto;
}

.field_remember{
    width: 100%;
}

.field_check_box{
    width: 40%;
    display: block;
    margin: 0 auto;
}
.remember_me{
    font-weight: bold;
    font-size: 14px;
}

