<!DOCTYPE html>
<html>
  <head>
    <title>Miniblog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'devise.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="login_body">
    <%= yield %>
  </body>
</html>